html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Lato";
  background-color: #f1f1f1;
}

body.hide-menu .navbar .navbar-nav > li > a.menu-btn {
  color: #fff;
  border: 1px solid #fff;
}

body.hide-menu aside {
  transform: translateX(-220px);
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  width: 0;
  min-width: 0;
  max-width: 0;
  font-size: 0;
}

body.hide-menu main {
  margin-left: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  outline: none !important;
}

h2 {
  font-size: 2rem;
}

.btn {
  border-radius: 2px;
}

.btn.btn-default {
  border: 1px solid #3490dc;
  color: #3490dc;
}

.btn.btn-default:hover {
  background-color: #f1f1f1;
}

.btn-transparent,
.navbar .float-right > li > a {
  padding: 3px 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: transparent;
  border: 1px solid #DAD7D5;
  border-radius: 2px;
  color: #E6E6E6;
}

.btn-transparent.active,
.navbar .float-right > li > a.active,
.btn-transparent:hover,
.navbar .float-right > li > a:hover {
  border-color: #fff;
  color: #fff;
}

.btn-inherent,
form .sumo-asset-select label a,
form .edit-slug {
  margin-left: 8px;
  font-weight: 400;
  text-decoration: underline;
  color: #2ac3f2;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
}

.display-table .display-cell {
  display: table-cell;
  vertical-align: middle;
}

.hide {
  display: none !important;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.loader.loader-asset {
  position: static;
  height: auto;
}

.loader .spinner {
  width: 40px;
  height: 40px;
  background-color: #2ac3f2;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#page-loader {
  background-color: rgba(0, 0, 0, 0.5);
}

#page-loader .spinner {
  background-color: #fff;
}

#login .panel {
  margin: 40px 0;
  background: transparent;
  box-shadow: none;
}

#login .panel .panel-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.navbar {
  display: block;
  background-color: #2ac3f2;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 10;
  box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.5);
}

.navbar .navbar-brand {
  padding: 10px 0;
}

.navbar .navbar-brand img {
  max-height: 100%;
  height: 33px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.navbar .float-right {
  padding-top: 10px;
  display: flex;
  margin-bottom: 0;
}

.navbar .float-right > li {
  margin-left: 6px;
}

.navbar .float-right > li > a {
  display: block;
  padding: 3px 8px;
}

#redactor-modal form {
  border: none;
}

form {
  padding: 20px 14px;
  border: 1px solid #dddddd;
  background: #fff;
}

form .form-box {
  padding: 20px 14px;
  border: 1px solid #dddddd;
  background: #fff;
  margin-top: 20px;
  box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.1);
}

form .form-box:first-child {
  /* margin-top: 0;*/
}

form .form-box label {
  font-weight: 500;
}

form .form-box.form-box-card {
  background-color: #f9fafb;
  padding-top: 20px;
  border-top: none;
}

form .form-box.form-box-card td,
form .form-box.form-box-card th {
  vertical-align: top;
  padding: 6px 10px;
}

form .form-box.form-box-card td:first-child,
form .form-box.form-box-card th:first-child {
  padding-left: 0;
}

form .form-box.form-box-card td:last-child,
form .form-box.form-box-card th:last-child {
  padding-right: 0;
}

form .form-box.form-box-header {
  background-color: #f9fafb;
  line-height: 1.8;
}

form .form-box .header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

form .form-box .header a {
  font-size: 14px;
  color: #2ac3f2;
  font-weight: normal;
  text-decoration: underline;
}

form .form-box .header .form-box-checkbox {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  float: right;
  margin-right: 10px;
}

form .form-box .header .form-box-checkbox input[type=checkbox] {
  width: 100%;
  height: 100%;
  position: absolute;
}

form .form-box .sub-title {
  color: #808080;
}

form .form-box .title-hard {
  font-weight: bold;
}

form .form-box .images-container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
}

form .form-box .images-container .empty-bg {
  background: #eee;
  position: relative;
  display: flex;
  width: 100%;
  height: 180px;
  text-align: center;
}

form .form-box .images-container .empty-bg i {
  font-size: 80px;
  opacity: 0.2;
  width: 100%;
  align-items: center;
  align-content: center;
  -ms-grid-row-align: center;
  align-self: center;
}

form .form-box .images-container .col {
  padding: 5px;
}

form .form-box .form-group.form-select .select2-container {
  width: auto !important;
}

form .form-box .form-group.form-select .select2-selection {
  border: none;
  background: none;
}

form .form-box .form-group.form-select .select2-selection .select2-selection__rendered {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 2px;
  border: 1px solid #dddddd;
  margin: 0;
  padding-top: 0;
}

form .form-box .form-group.form-select .select2-selection .select2-search__field {
  max-width: 200px;
  margin-top: 6px;
}

form .form-box .form-group.form-select .select2-selection .select2-selection__choice {
  margin-top: 6px;
}

form .form-box .form-group.form-select .select2-selection .select2-selection__choice span {
  margin-right: 5px;
}

form .form-box .form-group.form-select .select2-container--focus .select2-selection__rendered {
  outline: 0;
  border-color: #2ac3f2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(154, 154, 154, 0.6);
}

form .form-box .form-group .form-box-checkbox {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

form .form-box .form-group .form-box-checkbox input {
  outline: none;
  box-shadow: none !important;
  width: 18px;
  height: 18px;
}

form .form-box .form-group .toggle .toggle-group .fa {
  display: none;
}

form .form-box .form-group .form-control-stylized {
  position: relative;
}

form .form-box .form-group .form-control-stylized.focus-in > span {
  opacity: 1;
}

form .form-box .form-group .form-control-stylized > span {
  position: absolute;
  line-height: 34px;
  top: 0;
  left: 10px;
  opacity: 0.5;
}

form .form-box .form-group .form-control-stylized .form-control {
  padding-left: 23px;
}

form .form-box .form-group .form-control-stylized.style-right > span {
  right: 10px;
  left: auto;
}

form .form-box .form-group .form-control-stylized.style-right .form-control {
  padding-right: 23px;
  padding-left: 6px;
}

form .form-box .form-group .form-control-connected {
  position: relative;
}

form .form-box .form-group .form-control-connected .form-control {
  padding-right: 62px;
}

form .form-box .form-group .form-control-connected .select-wrapper {
  position: absolute;
  height: 32px;
  width: 50px;
  top: 1px;
  right: 1px;
  background: linear-gradient(to bottom, #fff, #f9fafb);
  border-left: 1px solid #dddddd;
}

form .form-box .form-group .form-control-connected .select-wrapper select {
  padding-left: 8px;
  padding-right: 20px;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  outline: #2ac3f2;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

form .form-box .form-group .form-control-connected .select-wrapper select:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #2ac3f2;
}

form .form-box .form-group .form-control-connected .select-wrapper span {
  position: absolute;
  top: 3px;
  right: 7px;
}

form .form-box .form-group .form-control-connected .select-wrapper span i {
  opacity: 0.7;
}

form .form-box .form-group .form-control-connected .btn {
  position: absolute;
  height: 34px;
  top: 0px;
  right: 0px;
  border-left: 1px solid #dddddd;
}

form .form-box .form-group .form-control-connected .btn i {
  opacity: 0.7;
}

form .form-box .form-group .popover {
  border-radius: 8px;
  max-width: 100%;
  width: 100%;
  left: 0 !important;
  border-color: #ddd;
  display: none;
}

form .form-box .form-group .popover.animated {
  /* display: block;*/
}

form .form-box .form-group .popover .popover-content {
  padding: 6px 0;
  max-height: 300px;
  overflow: auto;
  font-family: "Lato";
}

form .form-box .form-group .popover .popover-content ul {
  margin: 0;
}

form .form-box .form-group .popover .popover-content li {
  padding: 5px 15px;
  cursor: pointer;
}

form .form-box .form-group .popover .popover-content li a {
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
}

form .form-box .form-group .popover .popover-content li i {
  color: #2ac3f2;
  -ms-grid-row-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

form .form-box .form-group .popover .popover-content li .label {
  color: #333;
  font-weight: 600;
  padding: 0 15px;
  font-size: 14px;
}

form .form-box .form-group .popover .popover-content li .value {
  word-wrap: break-word;
  overflow: auto;
  word-wrap: break-word;
}

form .form-box .form-group .popover .popover-content li img {
  border: 1px solid #2ac3f2;
  border-radius: 3px;
  background: #2ac3f2;
  margin-right: 10px;
}

form .form-box .form-group .popover .popover-content li span {
  -ms-grid-row-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

form .form-box .form-group .popover .popover-content li:hover {
  background: #2ac3f2;
}

form .form-box .form-group .popover .popover-content li:hover i,
form .form-box .form-group .popover .popover-content li:hover span {
  color: #fff;
}

form .form-box .form-group .popover .popover-content .loader-content {
  text-align: center;
  padding: 8px 15px;
}

form .form-box .form-group .popover .popover-content .loader-content:hover {
  background: #FFF;
}

form .form-box .form-group .popover .popover-content .loader-content:hover span {
  color: inherit;
}

form .form-box .form-group .popover .popover-content .loader-content .fa {
  color: #2ac3f2;
}

form .form-box .form-group .popover .popover-content .loader-content span {
  font-size: 13px;
  padding-left: 10px;
}

form .form-box .form-group .tag-list {
  margin: 10px 0 0 0;
}

form .form-box .form-group .tag-list li {
  margin-right: 3px;
  margin-bottom: 5px;
  background: #6B6868;
  display: inline-flex;
  width: auto;
  padding: 4px 8px;
  color: #fff;
  border-radius: 3px;
}

form .form-box .form-group .tag-list li span {
  -ms-grid-row-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  font-size: 13px;
  padding-right: 8px;
}

form .form-box .form-group .tag-list li .fa {
  -ms-grid-row-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}

form .form-box .form-group .tag-list li .fa:hover {
  opacity: 0.5;
}

form .form-box .form-group .selected-products {
  padding: 10px 0;
}

form .form-box .form-group .selected-products .product-tag {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #f5f5f5;
}

form .form-box .form-group .selected-products .product-tag .image {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: #fafbfc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 207, 216, 0.3);
  margin-right: 10px;
}

form .form-box .form-group .selected-products .product-tag .title {
  width: 100%;
}

form .form-box .form-group .selected-products .product-tag button {
  background: transparent;
  border: none;
  opacity: 0.5;
  transition: 0.2s;
}

form .form-box .form-group .selected-products .product-tag button:hover {
  opacity: 1;
}

form .form-box.form-box-pull-up {
  margin-top: 0;
  border-top: none;
}

form .form-box.summary-details ul {
  padding: 0 15px;
}

form .form-box.summary-details ul li {
  list-style: disc;
  padding: 5px 0;
}

form .page-actions {
  margin: 20px 0;
  border-top: 1px solid #dddddd;
  padding: 20px 0;
  text-align: right;
}

form .page-actions .btn {
  margin-right: 10px;
}

form .page-actions .btn:last-child {
  margin-right: 0;
}

form .form-control {
  border-radius: 2px;
  border: 1px solid #dddddd;
}

form .dropdownDatepickerGroup select {
  width: auto;
  display: inline-block;
}

form .sumo-asset-select img {
  max-width: 100%;
  max-height: 400px;
  display: block;
}

form .sumo-asset-select .sumo-asset-img-container {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  background: #fafbfc;
  border: 1px solid rgba(195, 207, 216, 0.3);
  position: relative;
}

form .sumo-asset-select .sumo-asset-img-container:hover .sumo-asset-img-hover-overlay {
  opacity: 1;
}

form .sumo-asset-select .sumo-asset-img-container img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

form .sumo-asset-select .sumo-asset-img-container .sumo-asset-img-hover-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(58, 54, 51, 0.6);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

form .sumo-asset-select .sumo-asset-img-container .sumo-asset-img-hover-overlay ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  margin: 0;
}

form .sumo-asset-select .sumo-asset-img-container .sumo-asset-img-hover-overlay ul a {
  padding: 8px 6px;
  display: block;
  line-height: 0;
  text-align: center;
  color: #FFF;
  outline: none !important;
}

form .sumo-asset-select .sumo-asset-img-container .sumo-asset-img-hover-overlay ul a:hover {
  opacity: 0.5;
}

form.form-crop {
  /* #crop-target {*/
  /* 	width: 100%;*/
  /* }*/
}

form.form-crop img {
  display: block;
}

form.form-clear {
  border: none;
  padding: 0;
  background: none;
}

form.form-delete {
  padding: 0;
  border: none;
  background: transparent;
}

form.form-delete label {
  cursor: pointer;
  margin-bottom: 0;
}

form.form-delete input[type=checkbox] {
  display: none;
}

form.form-delete input[type=checkbox]:checked ~ .input-unchecked {
  display: none;
}

form.form-delete input[type=checkbox]:checked ~ .input-checked {
  display: inline-block;
}

form.form-delete .input-unchecked {
  display: inline-block;
}

form.form-delete .input-checked {
  display: none;
}

.form-control-outline,
.select2-container--default .select2-search--dropdown .select2-search__field:focus,
.select2-container--default .select2-selection--single:focus,
.form-control:focus {
  outline: 0;
  border-color: #2ac3f2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(154, 154, 154, 0.6);
}

.form-control.parsley-error {
  border-color: #fc4152;
}

.parsley-errors-list li {
  font-size: 12px;
  color: #fc4152;
}

.popover {
  max-width: 80%;
  border-radius: 2px;
  padding: 0;
}

.popover .popover-title {
  background-color: #6B6868;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 2px 2px 0 0;
}

.popover table {
  margin-bottom: 10px !important;
}

.popover table img {
  max-width: 100%;
}

[data-notify=container] {
  border-radius: 0;
  bottom: 0 !important;
  right: 0 !important;
  color: #fff;
  background-color: #2ac3f2;
  border: none;
  z-index: 99999 !important;
  min-width: 300px;
  max-width: 30vw;
}

.select2-container--default {
  display: block;
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 34px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 21px;
  padding: 6px 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}

.body-container {
  display: flex;
  max-width: 100vw;
  overflow: hidden;
  padding-top: 54.44px;
}

.body-container aside {
  min-width: 220px;
  max-width: 220px;
  width: 220px;
  min-height: calc( 100vh - 54.44px);
  padding-top: 30px;
  background: #3a3633;
  background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
  transition: all 0.4s ease;
}

.body-container aside > ul {
  margin-bottom: 0;
}

.body-container aside > ul li {
  position: relative;
}

.body-container aside > ul li a,
.body-container aside > ul li span {
  display: block;
  font-size: 15px;
  color: #c0bbb7;
  padding: 10px;
  cursor: pointer;
}

.body-container aside > ul li a:hover,
.body-container aside > ul li a:focus,
.body-container aside > ul li span:hover,
.body-container aside > ul li span:focus {
  color: #fff;
}

.body-container aside > ul li a i,
.body-container aside > ul li span i {
  margin-right: 6px;
  min-width: 20px;
}

.body-container aside > ul li a .collapse-icon,
.body-container aside > ul li span .collapse-icon {
  position: absolute;
  right: 4px;
  top: 13px;
}

.body-container aside > ul li a .collapse-icon .n,
.body-container aside > ul li span .collapse-icon .n {
  display: none;
}

.body-container aside > ul li a .collapse-icon .p,
.body-container aside > ul li span .collapse-icon .p {
  display: block;
}

.body-container aside > ul li.active a {
  color: #fff;
}

.body-container aside > ul li.active a:before {
  content: "";
  border-style: solid;
  border-width: 5px 6px 5px 0;
  border-color: transparent #F1F1F1 transparent transparent;
  position: absolute;
  right: 0;
  top: 14px;
  z-index: 9;
}

.body-container aside > ul li ul {
  position: relative;
}

.body-container aside > ul li ul > li {
  position: relative;
}

.body-container aside > ul li ul > li a,
.body-container aside > ul li ul > li span {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 42px;
}

.body-container aside > ul li.open .collapse-icon .n {
  display: block;
}

.body-container aside > ul li.open .collapse-icon .p {
  display: none;
}

.body-container main {
  width: 100%;
  color: #333;
  min-width: 320px;
}

.body-container main .breadcrumb {
  padding: 10px 16px;
  background-color: #3A3633;
  border: none;
  border-radius: 0;
  color: #c0bbb7;
  margin-bottom: 0;
}

.body-container main .breadcrumb > .active {
  color: #fff;
}

.body-container main .breadcrumb > li:not(:first-child)::before {
  padding: 0 5px;
  color: #ccc;
  content: "/ ";
}

.body-container main #content {
  padding: 12px 0;
}

.body-container main #content .page-header {
  margin: 10px 0;
  margin-bottom: 0;
  border-bottom: none;
}

.body-container main #content .page-header h1 {
  margin-top: 0;
  font-size: 24px;
}

.body-container main #content .widget .header {
  background-color: #2ac3f2;
  color: #fff;
  padding: 10px 8px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .body-container main #content .widget .header {
    flex-direction: column;
  }

  .body-container main #content .widget .header .right {
    margin-top: 8px;
  }
}

.body-container main #content .widget .filters {
  text-align: right;
  padding: 6px;
  padding-bottom: 2px;
  border: 1px solid #dddddd;
  border-bottom: none;
}

.body-container main #content .widget .filters form {
  padding: 0;
  border: none;
  background-color: transparent;
}

.body-container main #content .widget .filters form label {
  font-weight: 400;
  position: relative;
}

.body-container main #content .widget .filters form label input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  padding-right: 25px;
}

.body-container main #content .widget .filters form label button {
  position: absolute;
  top: 0;
  right: 0;
  color: #C0BB9D;
  background: transparent;
  border: none;
  height: 38px;
}

.body-container main #content .widget .table {
  margin-bottom: 0;
}

.body-container main #content .widget .table img {
  max-width: 120px;
}

.body-container main #content .widget .table .sortable-icon {
  color: #ccc;
  cursor: move;
}

.body-container main #content .widget .table i.fa-star,
.body-container main #content .widget .table i.fa-star-o {
  font-size: 16px;
}

.body-container main #content .widget .table td i.fa-star,
.body-container main #content .widget .table td i.fa-star-o {
  color: #f0ad4e;
  cursor: pointer;
}

.body-container main #content .widget .table td i.fa-star:hover,
.body-container main #content .widget .table td i.fa-star-o:hover {
  text-shadow: 1px 1px #ccc;
}

.body-container main #content .widget .pagination-links {
  padding: 6px;
  padding-bottom: 2px;
  border: 1px solid #dddddd;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.body-container main #content .widget .pagination-links .pagination {
  margin: 0;
}

.body-container main #content .widget .pagination-links .pagination > .active span {
  background-color: #2ac3f2;
  border-color: #2ac3f2;
}

.body-container main #content .widget .pagination-links .pagination > .active,
.body-container main #content .widget .pagination-links .pagination > .disabled {
  cursor: not-allowed;
}

.body-container main #content .widget .empty {
  padding: 10px;
  border: 1px solid #dddddd;
  font-size: 16px;
}

.body-container main #content .dash-quote {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .body-container main #content .seo-url {
    margin-top: 20px;
  }
}

.main {
  color: #333;
  min-height: 100%;
  padding-top: 52px;
  margin-left: 220px;
}

.main .breadcrumb {
  padding: 10px 16px;
  background-color: #3A3633;
  border: none;
  border-radius: 0;
  color: #c0bbb7;
  margin-bottom: 20px;
}

.main .breadcrumb > .active {
  color: #fff;
}

.main #content {
  padding: 12px 0;
}

.main #content .page-header {
  margin: 10px 0;
  margin-bottom: 0;
  border-bottom: none;
}

.main #content .page-header h1 {
  margin-top: 0;
  font-size: 24px;
}

.main #content .widget .header {
  background-color: #2ac3f2;
  color: #fff;
  padding: 10px 8px;
  text-transform: uppercase;
}

.main #content .widget .filters {
  text-align: right;
  padding: 6px;
  padding-bottom: 2px;
  border: 1px solid #dddddd;
  border-bottom: none;
}

.main #content .widget .filters form {
  padding: 0;
  border: none;
  background-color: transparent;
}

.main #content .widget .filters form label {
  font-weight: 400;
  position: relative;
}

.main #content .widget .filters form label input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  padding-right: 25px;
}

.main #content .widget .filters form label button {
  position: absolute;
  top: 0;
  right: 0;
  color: #C0BB9D;
  background: transparent;
  border: none;
  height: 30px;
}

.main #content .widget .table-responsive {
  overflow-x: visible;
}

.main #content .widget .table {
  margin-bottom: 0;
}

.main #content .widget .table img {
  max-width: 120px;
}

.main #content .widget .table .sortable-icon {
  color: #ccc;
  cursor: move;
}

.main #content .widget .table i.fa-star,
.main #content .widget .table i.fa-star-o {
  font-size: 16px;
}

.main #content .widget .table td i.fa-star,
.main #content .widget .table td i.fa-star-o {
  color: #f0ad4e;
  cursor: pointer;
}

.main #content .widget .table td i.fa-star:hover,
.main #content .widget .table td i.fa-star-o:hover {
  text-shadow: 1px 1px #ccc;
}

.main #content .widget .pagination-links {
  padding: 6px;
  padding-bottom: 2px;
  border: 1px solid #dddddd;
  font-size: 12px;
}

.main #content .widget .pagination-links .pagination {
  margin: 0;
}

.main #content .widget .pagination-links .pagination > .active span {
  background-color: #2ac3f2;
  border-color: #2ac3f2;
}

.main #content .widget .empty {
  padding: 10px;
  border: 1px solid #dddddd;
  font-size: 16px;
}

.main #content .table-view th {
  width: 120px;
}

.main #content .table-view img {
  max-width: 100%;
}

#aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  min-height: 100%;
  padding-top: 90px;
  background: #3a3633;
  background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
  transition: all 0.4s ease;
  z-index: 9;
}

#aside > ul {
  margin-bottom: 0;
}

#aside > ul li {
  position: relative;
}

#aside > ul li a,
#aside > ul li span {
  display: block;
  font-size: 15px;
  color: #c0bbb7;
  padding: 10px;
  cursor: pointer;
}

#aside > ul li a:hover,
#aside > ul li a:focus,
#aside > ul li span:hover,
#aside > ul li span:focus {
  color: #fff;
}

#aside > ul li a i,
#aside > ul li span i {
  margin-right: 6px;
}

#aside > ul li a .collapse-icon,
#aside > ul li span .collapse-icon {
  position: absolute;
  right: 4px;
  top: 13px;
}

#aside > ul li a .collapse-icon .n,
#aside > ul li span .collapse-icon .n {
  display: none;
}

#aside > ul li a .collapse-icon .p,
#aside > ul li span .collapse-icon .p {
  display: block;
}

#aside > ul li.active a {
  color: #fff;
}

#aside > ul li.active a:before {
  content: "";
  border-style: solid;
  border-width: 5px 6px 5px 0;
  border-color: transparent #F1F1F1 transparent transparent;
  position: absolute;
  right: 0;
  top: 14px;
  z-index: 9;
}

#aside > ul li ul {
  position: relative;
}

#aside > ul li ul > li {
  position: relative;
}

#aside > ul li ul > li a,
#aside > ul li ul > li span {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 42px;
}

#aside > ul li.open .collapse-icon .n {
  display: block;
}

#aside > ul li.open .collapse-icon .p {
  display: none;
}

.dataTables_wrapper > .row {
  margin-left: 0;
  margin-right: 0;
}

.dataTables_wrapper .row:first-child {
  padding: 6px 0;
  border: 1px solid #dddddd;
  border-bottom: none;
}

.dataTables_wrapper .dataTables_length select {
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_filter input {
  border-radius: 2px;
}

.dataTables_wrapper table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.dataTables_wrapper .row:nth-child(2) > div {
  padding: 0;
}

.dataTables_wrapper .row:last-child {
  padding: 4px 6px 0 6px;
  border: 1px solid #dddddd;
  border-top: none;
}

.dataTables_wrapper .dataTables_info {
  font-style: italic;
  font-size: 12px;
  color: #2ac3f2;
}

.dataTables_wrapper .dataTables_paginate .pagination {
  font-size: 12px;
}

.dataTables_wrapper .dataTables_paginate .pagination .active a {
  background-color: #2ac3f2;
  border-color: #2ac3f2;
}

.modal-content {
  border-radius: 2px;
}

#assets-modal .modal-header {
  border-bottom: none;
}

#assets-modal .modal-body {
  padding: 0;
}

#assets-modal .modal-body .nav-tabs > li > a {
  border-radius: 2px;
}

#assets-modal .modal-body .tab-content > .tab-pane {
  padding: 8px 15px;
  padding-right: 0;
}

#assets-modal .modal-body #file-upload .dropzone {
  height: 300px;
  background-color: #eee;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  color: #2ac3f2;
}

#assets-modal .modal-body #file-library .files {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 5px;
}

#assets-modal .modal-body #file-library .files .file {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 3px solid transparent;
  margin-right: 4px;
  margin-bottom: 25px;
  background-color: #fafbfc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#assets-modal .modal-body #file-library .files .file.active {
  border-color: #2ac3f2;
}

#assets-modal .modal-body #file-library .files .file .progress {
  overflow: hidden;
  height: 4px;
  background-color: #fff;
  border-radius: 0px;
  margin: 0;
  position: relative;
}

#assets-modal .modal-body #file-library .files .file .progress .progress-bar {
  position: absolute;
  height: 100%;
  background: linear-gradient(to right, #3490dc, #dbefff);
}

#assets-modal .modal-body #file-library .files .file .name {
  position: absolute;
  top: calc(100% + 3px);
  min-height: 25px;
  max-height: 25px;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  left: -3px;
  padding: 5px;
  font-size: 12px;
  transition: all 0.25s ease;
}

#assets-modal .modal-body #file-library .files .file .name:hover {
  white-space: unset;
  max-height: 100px;
  max-width: 150px;
  background-color: #fff;
  z-index: 10000;
  box-shadow: #333 0px 2px 5px 0px;
}

#assets-modal .modal-body #file-library .files .file .name:empty {
  display: none;
}

#assets-modal .modal-body .loader {
  height: 240px;
  position: relative;
}

#assets-modal .modal-body .asset-details .header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}

#assets-modal .modal-body .asset-details .photo {
  margin-bottom: 20px;
}

#assets-modal .modal-body .asset-details .photo img {
  max-width: 100%;
  margin-bottom: 4px;
}

#assets-modal .modal-body .asset-details .photo .delete {
  display: grid;
  grid-gap: 15px 5px;
  grid-auto-flow: column;
  justify-content: space-between;
}

#assets-modal .modal-body .asset-details .photo .delete a {
  padding: 3px 5px;
}

#assets-modal .modal-body .asset-details .photo .delete .confirm-btn {
  display: block;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  border: 1px solid #6B6868;
  grid-row-start: 2;
}

#assets-modal .modal-body .asset-details .photo .delete i.fa {
  margin-right: 5px;
  min-width: 20px;
}

#assets-modal .modal-body .asset-details form {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

.main {
  color: #333;
  min-height: 100%;
  padding-top: 52px;
  margin-left: 220px;
}

.main .breadcrumb {
  padding: 10px 16px;
  background-color: #3A3633;
  border: none;
  border-radius: 0;
  color: #c0bbb7;
  margin-bottom: 0;
}

.main .breadcrumb > .active {
  color: #fff;
}

.main #content {
  padding: 12px 0;
}

.main #content .page-header {
  margin: 10px 0;
  margin-bottom: 0;
  border-bottom: none;
}

.main #content .page-header h1 {
  margin-top: 0;
  font-size: 24px;
}

.main #content .widget .header {
  background-color: #2ac3f2;
  color: #fff;
  padding: 10px 8px;
  text-transform: uppercase;
}

.main #content .widget .filters {
  text-align: right;
  padding: 6px;
  padding-bottom: 2px;
  border: 1px solid #dddddd;
  border-bottom: none;
}

.main #content .widget .filters form {
  padding: 0;
  border: none;
  background-color: transparent;
}

.main #content .widget .filters form label {
  font-weight: 400;
  position: relative;
}

.main #content .widget .filters form label input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  padding-right: 25px;
}

.main #content .widget .filters form label button {
  position: absolute;
  top: 0;
  right: 0;
  color: #C0BB9D;
  background: transparent;
  border: none;
  height: 30px;
}

.main #content .widget .table-responsive {
  overflow-x: visible;
}

.main #content .widget .table {
  margin-bottom: 0;
}

.main #content .widget .table img {
  max-width: 120px;
}

.main #content .widget .table .sortable-icon {
  color: #ccc;
  cursor: move;
}

.main #content .widget .table i.fa-star,
.main #content .widget .table i.fa-star-o {
  font-size: 16px;
}

.main #content .widget .table td i.fa-star,
.main #content .widget .table td i.fa-star-o {
  color: #f0ad4e;
  cursor: pointer;
}

.main #content .widget .table td i.fa-star:hover,
.main #content .widget .table td i.fa-star-o:hover {
  text-shadow: 1px 1px #ccc;
}

.main #content .widget .pagination-links {
  padding: 6px;
  padding-bottom: 2px;
  border: 1px solid #dddddd;
  font-size: 12px;
}

.main #content .widget .pagination-links .pagination {
  margin: 0;
}

.main #content .widget .pagination-links .pagination > .active span {
  background-color: #2ac3f2;
  border-color: #2ac3f2;
}

.main #content .widget .empty {
  padding: 10px;
  border: 1px solid #dddddd;
  font-size: 16px;
}

.main #content .table-view th {
  width: 120px;
}

.main #content .table-view img {
  max-width: 100%;
}

.permission-list {
  padding-left: 15px;
}

.permission-list li {
  padding: 5px 0px;
}

.permission-list li input[type=checkbox] {
  margin-right: 10px;
}

.form.row {
  margin: 0;
}

/** for asset tags **/

.sumo-tag {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}

.sumo-tag.active {
  background: #2ac3f2;
  color: #fff;
}

/** for asset search, sort and filter **/

.search-container {
  margin-bottom: 10px;
}

.search-container .form-control {
  display: inline-block;
  max-width: 200px;
}

.sort-container {
  display: inline-block;
  padding-right: 20px;
}

.sort-container .form-control {
  display: inline-block;
  width: auto;
}

.filter-container {
  display: inline-block;
}

.filter-container .form-control {
  display: inline-block;
  width: auto;
}

.filter-container .date-range {
  display: inline-block;
}

.filter-container .date-range button {
  padding: 4px 8px;
  margin-left: 5px;
}

.filter-container .dropdownDatepickerGroup {
  display: inline-block;
}

/** for asset multi select **/

.sumo-asset-select-multi > label {
  width: 100%;
}

.sumo-asset-select-multi > label .multi-name {
  max-width: 200px;
  display: inline-block;
  border: none;
  box-shadow: none;
}

.sumo-asset-select-multi > label a {
  margin-left: 8px;
  font-weight: 400;
  text-decoration: underline;
  color: #2ac3f2;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset {
  width: 120px;
  height: 120px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid rgba(195, 207, 216, 0.3);
  float: left;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset div.sumo-asset-img-hover-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(58, 54, 51, 0.6);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset div.sumo-asset-img-hover-overlay ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset div.sumo-asset-img-hover-overlay ul a {
  padding: 8px 6px;
  display: block;
  line-height: 0;
  text-align: center;
  color: #fff;
  outline: none !important;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset:hover div.sumo-asset-img-hover-overlay {
  opacity: 1;
}

.sumo-asset-select-multi .images-container > div.sumo-multi-asset img {
  max-width: 100%;
  max-height: 100%;
}

.sumo-asset-select-multi .images-container .sumo-asset-img-container {
  width: 100%;
  height: 100%;
}

.sumo-add-form .sumo-add-multi {
  margin-left: 8px;
  font-weight: 400;
  text-decoration: underline;
  color: #2ac3f2;
}

